*{
margin:0;
padding:0;
font-family:Century Gothic;
scroll-behavior: smooth;
}

/*---- NAVIGATION BAR---*/

#nav-bar{
	position:sticky;
	top:0;
	z-index:10;
}
.navbar-brand img{
	float:left;
    margin-top:12px;
    width:200px;
    height:60px;
	padding-left:40px;
}
.navbar-nav li{
	padding:0 5px;
}
.navbar-nav li a{
	float:right;
	text-align:left;
	padding:5px 20px!important;
	color:white!important;
	text-decoration:none;
    border:1px solid transparent;
    border-radius:6%;
    transition:0.6s ease;
}
#nav-bar ul li a:hover{
    
	background-color:#fff;
    color:#000!important;
}
#nav-bar ul li.active a{
	background-color:#fff;
	color:#000!important;
}

.navbar-toggle{
	border:none!important;
	background-color:#fff!important;
}

.nav-link{
	color:white;
	font-weight:600;
	font-size:16px;
}
header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../pic/image14.jpg);
height:600px;
background-size: cover;
background-position:center;
}


/*--------------------------------------------------*/

.title{
position:absolute;
padding-top:20%;
padding-left:15%;
padding-right:20%;
transfrom:translate(-50%,-50%);
}
.title h1{
color:#fff;
font-size:60px;
}


/*---- our story---*/
.Window-story{
	margin-top:5%;
}
.storypic{
display:flex;
justify-content:center;
align-items:center;
margin-top:10%;
width:100%;height:80%;
}
.ourText{
margin-top:4%;
padding:20px;
}
/*---- our team---*/
.txt{
	text-align: center;
	font-size:50px;
	font-weight:bold;
	letter-spacing:2px;
	color:#333;
	margin-top:2%;
}
.txt:after{
	content:"";
	background:#333;
	display:block;
	height:3px;
	width:150px;
	margin:10px auto;
}
.Box-container{
display:flex;
width:100%;
justify-content:space-between;
}
.Box-container > div{
	flex:1;
	padding:0 2%;
}
.profile{
	margin-top:25px;
}
.profile .img-box{
	opacity:1;
	display:block;
	position:relative;
}
.img-responsive{
width:200px;
height:250px;
}
.profile h2
{
	font-size:22px;
	font-weight:bold;
	margin-top:15px;
}
.profile h3
{
	font-size:15px;
	font-weight:bold;
	margin-top:15px;
}
.img-box:after
{
	content:'';
	opacity:0;
	background-color:rgba(0,0,0,.6);
	position:absolute;
	right:0;
	left:0;
	top:0;
	bottom:0;
}
.img-box ul
{
	margin:0;
	padding:20px 0;
	position:absolute;
	z-index:1;
	bottom:0;
	display:block;
	left:50%;
	transform:translateX(-50%);
	opacity:0;
	
}
.img-box ul li{
	margin:30px;
	height:30px;
	border:1px solid #fff;
	border-radius:50%;
	margin:3px;
	padding:7px;
	display:inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity:1;
}
.img-box:hover ul
{
	opacity:1;
}
.img-box a:hover li{
	color:#007bff;
	border:1px solid #007bff;
}
.img-box:after, .img-box ul, .img-box ul li
{
	transition:all 0.5s ease-in-out 0s;
}
@media screen and (max-width:600px) {
.Box-container{
		display:flex;
		flex-direction:column;
	}
}
/*----Map---*/

.map{
margin:30px; padding:1px;
box-sizing:border-top;
border:1px solid red;
}
