/*---------footer----------*/
.footer{
 background-color:#474747;
 color:white;
 width:100%;
 
}
.end{
  text-align:center;
  padding-bottom:10px;
}



.logo1{
width:250px;
height:100px;
padding-left:40px;
padding-top:20px;
}
.linkk{
color:white;
}
.linkk:hover{
color:yellow;
}
.linkUp{
 padding-right:40px;
 padding-top:30px;
 float:right;
 
}